* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #4c7766;
}

.container {
    background-color: #4c7766;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.1fr 2fr;
    align-items: center;
    justify-items: center;
    transition: height 500ms;
}

.container-1 {
    transition: ease-in 500ms;
    background-color: #4c7766;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.7fr 0.1fr 1.7fr 0.1fr 0.1fr;
    align-items: center;
    justify-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    text-align: center;
    color: #EBE6E0;
    font-family: "Nerko One", cursive;
    font-weight: bold;
    font-style: italic;
    font-size: 65px;
    margin-top: 10px;
}

.header-1 {
    text-align: center;
    color: #EBE6E0;
    font-family: "Nerko One", cursive;
    font-weight: bold;
    font-style: italic;
    font-size: 45px;
    margin-top: 5px;
}

.para {
    color: #EBE6E0;
    font-size: 18px;
    text-align: center;
    margin: 15px 25px 15px 25px;
}

.radio-div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #197c24;
    border-radius: 10px;
}

.radio-div input {
    margin-left: 5px;
    margin-right: 5px;
}

.radio-div label {
    margin-right: 5px;
    font-size: 20px;
}

.radio-btn {
    border-radius: 10px;
}

.radio-btn:has(input:checked) {
    background-color: #d0ede1;
}

.button {
    font-size: 20px;
    background-color: #0d7c4ed2;
    color: rgb(255, 223, 181);
    border-radius: 50px;
    padding: 5px;
    margin: 5px;
    font-family: "Playwrite CU";
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    transition: ease-in 400ms;
    cursor: pointer;
}

.cont1 {
    transition: ease-in-out 500ms;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-around;
    background-color: #2a5534;
    border-radius: 15px;
}

.card-img {
    width: auto;
    height: 190px;
    border-radius: 10px;
    margin: 10px;
    transition: ease-in 400ms;
    cursor: pointer;
}

.card-img:hover {
    transform: translateY(-5px);
    box-shadow: 0 3px 3px 0 rgba(200, 200, 200, 0.632);
}

.cont-2a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #224e27;
    border-radius: 15px;
    justify-content: space-evenly;
    width: 70%;
    height: auto;
    padding: 10px;
    gap: 5px;
}

.card-slot {
    width: 135px;
    height: 180px;
    border-radius: 10px;
    background-color: #ebf7ed;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.highlight {
    border: 3px solid yellow;
    box-shadow: 0 0 10px yellow;
    transform: scale(1.05);
    transition: border 300ms ease, box-shadow 300ms ease, transform 300ms ease;
}

.highlight-slot {
    border: 2px solid red;
}

.card-slot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.timer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 24px;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
}