*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #4c7766;
}

.container{
    background-color: #4c7766;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.1fr 2fr;
    align-items: center;
    justify-items: center;
    transition: height 500ms;
}

.container-1{
    transition: ease-in 500ms;
    background-color: #4c7766;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.1fr 400px;
    align-items: center;
    justify-items: center;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    box-sizing: border-box;
    border-radius: 50px;
    text-align: center;
    color: #EBE6E0;
    font-family: "Nerko One", cursive;
    font-weight: bold;
    font-style: italic;
    font-size: 65px;
    margin-top: 10px;
}

.para{
    color: #EBE6E0;
    font-size: 18px;
    text-align: center;
    margin: 15px 25px 15px 25px;
}

.radio-div{
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #197c24;
    border-radius: 10px;
}

.radio-div input,label{
    margin: 5px;
}

.radio-div label{
    font-size: 20px;
}

.radio-btn{
    border-radius: 10px;
}

.radio-btn:has(input:checked){
    background-color: #d0ede1;
}

.button{
    font-size: 20px;
    background-color: #0d7c4ed2;
    color: rgb(255, 223, 181);
    border-radius: 50px;
    padding: 5px;
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    transition: ease-in 400ms;
    cursor: pointer;
}

.button:hover{
    transform: translateY(-5px);
}


.cont1{
    transition: ease-in-out 500ms;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    width: 75%;
    height: 75%;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    column-gap: 5px;
    background-color: #2a5534;
    border-radius: 15px;
    justify-items: center;
    align-items: center;
}

.card-img{
    width: auto;
    height: 250px;
    border-radius: 10px;
    margin: auto;
    transition: ease-in 400ms;
    cursor: pointer;
}

.card-img:hover {
    transform: translateY(-5px);
    box-shadow: 0 3px 3px 0 rgba(200, 200, 200, 0.632);
}

.cont-2a{
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    column-gap: 5px;
    background-color: #224e27;
    border-radius: 15px;
    justify-self: center;
    align-self: center;
}

/* border: 2px #eaff76 solid; */